.navbar {
  background-color: rgb(143, 11, 62);
}
.navbar-wrapper a:hover {
  color: rgb(243, 242, 242);
  border-bottom: 1px solid #eee;
  transition :all 3s ease;
}
.navbar-wrapper a {
  padding-left: 8px;
  color: white;
  padding-bottom: 4px;
  text-decoration: none;
}
.dropdown-toggle {
  color: white !important;
}
/* nav-link */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* .products_list img{
  width: 100px;
  height: 60px;
} */